/* Registro solo */

.login-container-register {
  min-height: 100vh;
  background: linear-gradient( #403f44, #1e1b32); /* Snow & Madder */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

.login-box-register {
  background:  rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(20, 35, 70, 0.8);
  width: 320px;
  text-align: center;
}

.login-box-register h2 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 2rem;
}

.login-box-register input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
  transition: background-color 0.3s ease;
}

.login-box-register input::placeholder {
  color: #bbb;
}

.login-box-register input:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

.login-box-register button {
  width: 100%;
  padding: 12px 15px;
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: #1a1a1a;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-box-register button:hover {
  background-color: #744d99;
}


@keyframes hero-gradient-animation {
  0% {
    --y-0: 23%;
    --x-0: 23%;
    --c-0: hsla(27.999999999999996, 66%, 73%, 1);
    --s-start-0: 2%;
    --s-end-0: 60%;
    --c-1: hsla(319.4117647058823, 52%, 25%, 1);
    --y-1: 16%;
    --s-start-1: 9%;
    --s-end-1: 58.89119889119889%;
    --x-1: 13%;
    --x-2: 14%;
    --y-2: 89%;
    --s-start-2: 9%;
    --s-end-2: 58.89119889119889%;
    --c-2: hsla(319.4117647058823, 52%, 25%, 1);
  }

  100% {
    --y-0: 91%;
    --x-0: 92%;
    --c-0: hsla(319.4117647058823, 52%, 25%, 1);
    --s-start-0: 4%;
    --s-end-0: 73%;
    --c-1: hsla(27.999999999999996, 66%, 73%, 1);
    --y-1: 18%;
    --s-start-1: 4%;
    --s-end-1: 60%;
    --x-1: 95%;
    --x-2: 97%;
    --y-2: 47%;
    --s-start-2: 4.5991935069083505%;
    --s-end-2: 60%;
    --c-2: hsla(38.24175824175824, 86%, 79%, 1);
  }
}

@property --y-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 23%;
}

@property --x-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 23%;
}

@property --c-0 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(27.999999999999996, 66%, 73%, 1);
}

@property --s-start-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 2%;
}

@property --s-end-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 60%;
}

@property --c-1 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(319.4117647058823, 52%, 25%, 1);
}

@property --y-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 16%;
}

@property --s-start-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 9%;
}

@property --s-end-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 58.89119889119889%;
}

@property --x-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 13%;
}

@property --x-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 14%;
}

@property --y-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 89%;
}

@property --s-start-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 9%;
}

@property --s-end-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 58.89119889119889%;
}

@property --c-2 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(319.4117647058823, 52%, 25%, 1);
}

.login-container-register {
  --y-0: 23%;
  --x-0: 23%;
  --c-0: hsla(27.999999999999996, 66%, 73%, 1);
  --c-1: hsla(319.4117647058823, 52%, 25%, 1);
  --y-1: 16%;
  --x-1: 13%;
  --x-2: 14%;
  --y-2: 89%;
  --c-2: hsla(319.4117647058823, 52%, 25%, 1);
  background-color: hsla(272, 86%, 9%, 1);
  background-image:
    url("data:image/svg+xml,%3Csvg viewBox='0 0 1288 1288' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
    radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)),
    radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)),
    radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2));
  animation: hero-gradient-animation 10s linear infinite alternate;
  background-blend-mode: overlay, normal, overlay, normal;
}


